<?xml version="1.0" encoding="utf-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>myapp.DemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>DatastoreSessionFilter</filter-name>
        <filter-class>com.example.getstarted.util.DatastoreSessionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>DatastoreSessionFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/books</url-pattern>
        <url-pattern>/books/mine</url-pattern>
        <url-pattern>/create</url-pattern>
        <url-pattern>/delete</url-pattern>
        <url-pattern>/login</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/oauth2callback</url-pattern>
        <url-pattern>/read</url-pattern>
        <url-pattern>/update</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>list</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.ListBookServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>list</servlet-name>
        <!--<url-pattern>/</url-pattern>-->
        <url-pattern>/books</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>create</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.CreateBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>create</servlet-name>
        <url-pattern>/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>update</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.UpdateBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>update</servlet-name>
        <url-pattern>/update</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>read</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.ReadBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>read</servlet-name>
        <url-pattern>/read</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>delete</servlet-name>
        <servlet-class>com.example.getstarted.basicactions.DeleteBookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>delete</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>bookshelf.storageType</param-name>
        <param-value>${bookshelf.storageType}</param-value>
    </context-param>
</web-app>
